
<%= form_for(:user, url: sessions_path, html: { id: "sessions-create-form"}) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h2>Please Login</h2>
    </div>
   </div>
 </div>
 <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
<div class="form-group">
<h4>  <%= f.label :email_field, 'Email'%></h4>
  <%= f.email_field :email, required: true, id: "email_title_field", class: 'form-control' , placeholder: "Email Address"  %>
</div>
  </div>
        </div>
  <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
<div class="form-group">
<h4>  <%= f.label :password_field, 'Password'%></h4>
  <%= f.password_field :password, required: true, id: "password_field", class: 'form-control', placeholder: "Password" %>


</div>
  </div>
        </div>

</div>


<div class="col-lg-4 col-lg-offset-2 text-center">
<%= link_to "Not a Member Yet?",new_user_path %>
<%= f.submit "Login", class: "btn btn-success btn-lg" %>

<%= link_to "Forgot your Password",new_password_reset_path %>
</div>



<%end%>
