<div class="background-1">
  <div class="content">
    <h1> </h1>
    <h1 class="font-title"> Forum of FootBall </h1>
  </div>
</div>
<div class="background-2">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="font-title"> Chat of FootBall </h1>
      </div>
    </div>
   </div>
</div>

      <section class="features">
          <div class="feature text-center">
            <%= image_tag("bola sepak.png") %>
            <h4> Player / Team </h4>
          </div>
          <div class="feature text-center">
      <%= image_tag("piala.png") %>
      <h4> Trophy</h4>
    </div>
    <div class="feature text-center">
      <%= image_tag("stadium.png") %>
      <h4> Stadium</h4>
    </div>
  </section>
  <div class="landing">
 </div>
 <div id="footer">
     <div class="container">
         <div class="row">
             <h3 class="footertext">About Us:</h3>
             <br>
               <div class="col-md-4">
                 <center>
                     <%= image_tag("piala.png") %>
                   <br>
                   <h4 class="footertext">Programmer</h4>
                   <p class="footertext">You can thank all the crazy programming here to this guy.<br>
                 </center>
               </div>
               <div class="col-md-4">
                 <center>
                   <%= image_tag("stadium.png") %>

                   <h4 class="footertext">Artist</h4>
                   <p class="footertext">All the images here are hand drawn by this man.<br>
                 </center>
               </div>
               <div class="col-md-4">
                 <center>
                   <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                   <br>
                   <h4 class="footertext">Designer</h4>
                   <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                 </center>
               </div>
             </div>
