<div class="background-8">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="font-title"> LIST OF TOPIC </h1>
      </div>
    </div>
   </div>
</div>
<div class="background-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">

        <h4 class="font-word"> Press link "CREATE TOPIC" to create the topic
          <%= link_to "Create Topic",new_topic_path %>
        </h4>
        <h4 class="font-word">***** List of  topic **** </h4>
         <p> <% @topics.each do |topic| %> </p>
         <%= link_to topic.title, topic_posts_path(topic) %>

              <div class="topic">
              <h4 class="font-word"><%= topic.description %></h4>
              <h4 class="font-word">***** Things to Post **** </h4>

                  <%topic.posts.each do |post| %>

      <h4 class="font-word"><%= post.body %></h4>
      <h4 class="font-word">***** Things to Comment **** </h4>
          <%post.comments.each do |comment| %>
            <p> <%= comment.body %></p>


<%end%>
<%end%>

      <p><%= link_to "Delete Topic", topic_path(topic), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></p>
      <p><%= link_to "Edit Topic", edit_topic_path(topic)%></p>

  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
