<div class="container">
   <div class="row">
     <div class="col-lg-4 text-left">

      <%= form_for(@user, url: users_path, html: { id: "user-create-form" }) do |f| %>

      <h1 class="text-left">  Register User</h1> </legend>

    <div class="form-group">
      <h4> <%= f.label :username_field, "Username" %> </h4>
      <%= f.text_field :username, required: true, id: "name_field", class: 'form-control' %>
      <p class="help-block">Name can contain any letters or numbers, without spaces</p>
    </div>

    <div class="form-group">
       <h4> <%= f.label :email_field, "Email" %> </h4>
       <%= f.text_field :email, required: true, id: "email_field", class: 'form-control' %>
       <p class="help-block">Please provide your E-mail</p>

    </div>

    <div class="form-group">
      <h4> <%= f.label :password_field, "Password" %> </h4>
      <%= f.password_field :password, required: true, id: "password_field", class: 'form-control' %>
      <p class="help-block">Password should be at least 4 characters</p>
    </div>

    <div class="form-group">
      <h4> <%= f.label :password_confirm_field, "Password (Confirm)" %> </h4>
      <%= f.password_field :password_confirm, required: true, id: "password_confirm_field", class: 'form-control' %>
      <p class="help-block">Please confirm password</p>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Create User", class: "btn btn-success btn-lg" %>
    </div>
    <% end %>
    </div>
   </div>
</div>

</div>
</div>
</div>
